.blog-content {
  padding: 10px 20px 20px;
  text-align: left;
}
.blog-content .blog-font {
 overflow: hidden;
  display: -webkit-box;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2; /*行數*/
  -webkit-box-orient: vertical;
  white-space: normal;
}

.blog-content .blog-link-title {
  color: black;
  font-weight: bold;
}

.blog-content .blog-link-btn {
  border-color: #016483;
  background-color: #016483;
  color: white;
  padding: 10px;
  transition: 0.5s;
}
.blog-content .blog-link-btn:hover {
  border-color: #c3d8eb;
  background-color: #c3d8eb;
  color: black;
}
