:root {
  --main-color-blue: #016483;
  --main-color-white: #c3d8eb;
  --main-color-cafe: #cac7b2;
  --main-color-black: #000;
  --main-color-black-1: #111;
}

a {
  text-decoration: none;
}

.nav-item::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: var(--main-color-blue);
  transition: width 0.3s;
}

.nav-item:hover::after {
  width: 100%;
  /* transition: width .3s; */
}
@media all and (min-width: 992px) {
  .navbar .dropdown-menu-end {
    right: 0;
    left: auto;
  }
  .navbar .nav-item .dropdown-menu {
    display: block;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    margin-top: 0;
  }
  .navbar .nav-item:hover .nav-link {
    color: #000;
  }
  .navbar .dropdown-menu.fade-down {
    top: 80%;
    transform: rotateX(-75deg);
    transform-origin: 0% 0%;
  }
  .navbar .dropdown-menu.fade-up {
    top: 180%;
  }
  .navbar .nav-item:hover .dropdown-menu {
    transition: 0.3s;
    opacity: 1;
    visibility: visible;
    top: 100%;
    transform: rotateX(0deg);
  }
}
.nav-padding {
  padding-top: 22px;
  padding-bottom: 22px;
}
.top-header-color {
  background-color: var(--main-color-blue);
}

.info-footer {
  background-color: var(--main-color-black);
  padding: 40px;
}
.info-footer-main {
  padding: 15px;
}
.copy-right-footer {
  background-color: var(--main-color-black-1);
}

#carouselExampleControls .carousel-item img {
  object-fit: cover;
  object-position: center;
  height: 60vh;
  overflow: hidden;
}
.section-padding {
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
}

.footer-title::after {
  display: block;
  background-color: var(--main-color-cafe);
  height: 5px;
  width: 50px;
  content: " ";
  margin: 0 auto;
  margin-top: 10px;
}
.section-title::after {
  display: block;
  background-color: var(--main-color-cafe);
  height: 5px;
  width: 50px;
  content: " ";
  margin: 0 auto;
  margin-top: 20px;
}
.section-sub-title::after {
  display: block;
  background-color: var(--main-color-cafe);
  height: 5px;
  width: 35px;
  content: " ";
  margin: 0 auto;
  margin-top: 10px;
}
.ship-title {
  margin-bottom: 45px;
}
.ship-sub-title {
  margin-bottom: 20px;
}
ul {
  list-style: none;
}
.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.image-gallery > li {
  flex-basis: 400px;
  /* width: 350px; */
  position: relative;
  cursor: pointer;
}

.image-gallery::after {
  content: "";
  flex-basis: 350px;
}

.image-gallery li img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(57, 57, 57, 0.502);
  top: 0;
  left: 0;
  transform: scale(0);
  transition: all 0.2s 0.1s ease-in-out;
  color: #fff;
  border-radius: 5px;
  /* center overlay text */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* hover */
.image-gallery li:hover .overlay {
  transform: scale(1);
}

.masthead {
  height: 60vh;
  min-height: 400px;
  background-image: url("https://source.unsplash.com/BtbjCFUvBXs/1920x1080");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.login-form .form-control:focus {
  outline-style: #cac7b2;
  border: 1px solid #cac7b2;
  box-shadow: none;
}

.btn-outline-coffee {
  outline-style: #cac7b2;
  border: 1px solid #cac7b2;
}

.btn-outline-coffee:hover {
  outline-style: #cac7b2;
  background-color: #cac7b2;
  border: 1px solid #cac7b2;
  color: aliceblue;
}

/* .avatar {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
} */

@media only screen and (min-device-width: 1400px) {
  .avatar {
    width: 250px !important;
    height: 250px !important;
  }
  #openModal {
    top: -81% !important;
  }
}
@media only screen and (min-device-width: 1200px) and (max-device-width: 1399px) {
  .avatar {
    width: 250px !important;
    height: 250px !important;
  }
  #openModal {
    top: -81% !important;
  }
}
@media only screen and (min-device-width: 992px) and (max-device-width: 1199px) {
  .avatar {
    width: 250px !important;
    height: 250px !important;
  }
  #openModal {
    top: -80% !important;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  /* .avatar {
      width: 180px;
      height: 180px;
      background-repeat: no-repeat;
      background-size: cover;
    } */
  .avatar {
    width: 250px !important;
    height: 250px !important;
  }
  #openModal {
    top: -80% !important;
  }
}

@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
  .avatar {
    width: 250px !important;
    height: 250px !important;
  }
}
@media only screen and (max-device-width: 575px) {
  /* .avatar {
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
    } */
  .avatar {
    width: 180px !important;
    height: 180px !important;
  }
  #openModal {
    top: -90% !important;
  }
}
@media only screen and (max-device-width: 375px) {
  /* .avatar {
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
    } */
  .avatar {
    width: 180px !important;
    height: 180px !important;
  }
}
@media only screen and (max-device-width: 320px) {
  /* .avatar {
      width: 150px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
    } */
  .avatar {
    width: 180px !important;
    height: 180px !important;
  }
}
.avatar {
  float: left;
  display: inline-block;
  overflow: hidden;
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  background: #c68587;
  border: 6px solid #b3c9cb;
  background-size: cover;
  background-position: 50% 25%;
  transition: border 0.5s linear;
}
.avatar:after {
  content: "";
  position: absolute;
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, #f0e3c7),
    color-stop(100%, #6bcab4)
  );
  width: 10vw;
  height: 10vw;
  border-radius: 100%;
  border: 1px solid white;
  left: 4px;
  top: 4px;
  opacity: 0;
  transition: opacity 0.3s linear;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
}

.avatar:hover:after {
  opacity: 0.7;
}

.avatar.open:hover:after {
  opacity: 0;
}

/* .avatar-container {
  text-align: center;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transition: translate3d(-50%, -50%, 0);
  position: absolute;
  top: 50%;
} */

#camera {
  -webkit-transform: scale(0.4);
  position: relative;
  z-index: 9999;
  cursor: pointer;
  top: -7%;
  overflow: hidden;
}

#circle {
  -webkit-transform: scale(0.75);
  -webkit-transform-origin: 50% 50%;
  -webkit-transition: all 0.3s linear;
  stroke-dashoffset: 33px;
  stroke-dasharray: 33px;
}

#cameraFrame {
  -webkit-transition: all 0.5s linear;
  stroke-dashoffset: 72px;
  stroke-dasharray: 72px;
}

#plus {
  -webkit-transition: all 0.3s linear;
  stroke-dashoffset: 5px;
  stroke-dasharray: 5px;
}

#fileUpload {
  overflow: hidden;
  position: relative;
  /* width: 70px; */
  width: 133px;
  padding: 10px;
  opacity: 0;
  left: 50%;
  top: 70%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  z-index: 9999;
  transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
}
#fileUpload:focus {
  outline: none;
  background: transparent;
}

#openModal {
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  top: -87%;
  border-radius: 100%;
  -webkit-transform: scale(0);
  z-index: 8888;
  transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
  transition-delay: 250ms;
  background-color: rgba(255, 255, 255, 0.9);
}

#openModal > span {
  font-family: raleway;
  font-size: 1.2vw;
  top: 40%;
  position: absolute;
  left: 50%;
  white-space: nowrap;
  -webkit-transform: translate3d(-50%, 0, 0);
  color: rgba(0, 0, 0, 0.7);
}

.separatorLine {
  margin-top: 15px;
  width: 300%;
  position: absolute;
  height: 1px;
  background: rgba(0, 0, 0, 0.6);
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.clearfix {
  display: inline-block;
}

.clearfix {
  display: block;
}

.right {
  margin-left: 12.5vw;
  bottom: 0;
  position: absolute;
  float: right;
}

.right > p {
  font-size: 2vw;
  text-align: left;
  text-transform: none;
  font-family: Raleway;
  margin-top: 0.5vw;
  color: rgba(0, 0, 0, 0.7);
}
.right > p:last-child {
  margin-top: 0.2vw;
  font-size: 0.9vw;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
}

.avatar:hover > #camera > #cameraFrame {
  stroke-dashoffset: 0;
}

.avatar:hover > #camera > #circle {
  stroke-dashoffset: 0px;
}

.avatar:hover > #camera > #plus {
  stroke-dashoffset: 0px;
}

.avatar:active > #camera > #cameraFrame {
  -webkit-transition: none;
  stroke: rgba(255, 255, 255, 0.7);
}

.avatar:active > #camera > #circle {
  -webkit-transition: none;
  stroke: rgba(255, 255, 255, 0.7);
}

.avatar:active > #camera > #plus {
  -webkit-transition: none;
  stroke: rgba(255, 255, 255, 0);
}

.src {
  font-family: raleway;
  position: absolute;
  display: inline-block;
  right: 0;
  bottom: 0;
  padding: 10px;
}

#camera {
  transition: 250ms cubic-bezier(0.7, 0, 0.36, 1);
}

.avatar.open > #camera {
  -webkit-transform: scale(0);
  fill: white;
}

.avatar.open > #openModal {
  -webkit-transform: scale(0.95);
}

.avatar.open > #fileUpload {
  opacity: 1;
  -webkit-transition-delay: 250ms;
}

.avatar.open > #camera {
  visibility: hidden;
}
.news_avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
